@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Fira Sans';
}

.map {
  position: fixed;
  top: -10px;
  left: -10px;
  width: 100%;
  filter: drop-shadow(1px 1px 0px rgb(0, 0, 0)) drop-shadow(-1px -1px 0px #000) contrast(110%) sepia(50%);
}

.where {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 20px;
  text-align: right;
}